.queryExecutor {
    background-color: #ffffff;
    padding: 0px;
    height: max-content;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #d1d1d1;
}

.queryExecutor__header {
    display: flex;
    padding-bottom: 10px;
    width: 100%;
}

.queryExecutor__header > button {
    height: 40px;
    width: 100px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 1px 1px 2px #d1d1d1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.queryExecutor__purpleBtn {
    background-color: #3B28CC;
    color: #ffffff;
}

.queryExecutor__purpleBtn:hover {
    background-color: #220FB6;
}

.queryExecutor__queryInput {
    width: 100%;
    display: flex;
    flex: 1;
    height: 30vh;
    resize: none;
    padding: 15px;
    box-sizing: border-box;
    background-color: #F3F3F3;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    outline: none;
   
}

.queryExecutor__queryInput:focus {
    border: 1px solid #B497D6;
}

.queryExecutor__greyBtn {
    background-color: #f3f3f3;
}

.queryExecutor__greyBtn:hover {
    background-color: #dddbdb;
}


.queryExecutor__importBtn {
    background-color: #F49E4C;
    color: #000000;
    margin-left: auto;
}

.queryExecutor__importBtn:hover {
    background-color: #ee8a2c;
}