.sidebar {
    display: flex;
    flex-direction: column;
    width: calc(20% - 20px);
    max-width: calc(20% - 20px);
    background-color: #ffffff;
    height: 100vh;
    margin-right: 10px;
}

.sidebar__optionLabel {
    font-size: 18px;
    font-weight: 600;
    color: #19191a;
    padding: 5px;
    margin-left: 5px;
    margin-top: 10px;
}

.sidebar__dropdown {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #f3f3f3;
}

.sidebar__queries {
   background-color: #B7B5E4;
   padding: 20px;
}

.sidebar__queries:hover {
    background-color: #B7B5E4;
}

@media (max-width: 480px) {

    .sidebar {
        height: 100px;
        width: 100%;
        max-width: 100%;
    }

    .sidebar__dropdown {
        height: 50px;
    }
}